@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700');

*{
    padding: 0px;
    margin: 0px;
    font-family: poppins, sans-serif;
    font-weight: 700;
    box-sizing: border-box;
    }
    
    #header{
    padding: 20px;
    width: 100%;
    background: #FFF;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    }
    
    #header #logo{
    font-style: italic;
    font-size: 20px;
    }
    
    #header #logo span{
    color: #fd6843e5;
    }
    #header nav{
    color: #000;
    }
    
    #header nav a{
    font-size: 14px;
    text-decoration: none;
    padding: 10px;
    text-align: center;
    color: black;
    }

    #header nav a:first-child{
        color: white;
        background: #fd6843e5;
        padding: 10px 20px;
        margin-left: 30px;
        border-radius: 30px;
        }
    
    #header nav a:last-child{
        color: white;
        background: #fd6843e5;
        padding: 10px 20px;
        margin-left: 30px;
        border-radius: 30px;
        }
        

     #header nav a:hover{
        opacity: 0.9;
        }

    
        #container{
            overflow: hidden;
            display: flex;
            flex-direction: row;
            justify-content: center;
            padding-top: 20px;
            height: 575px;
            }
            #bg-container{
            width: 50%;
            }
            #bg-container svg{
            width: 100%;
            height: 90%;
            }
            #content-container{
            width: 30%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            }
            #content-container h1{
            color: #fd6843e5;
            font-weight: 900;
            font-size: 80px;
            line-height: 0.9em;
            margin-bottom: 30px;
            }
            #content-container p{
            line-height: 1.8em;
            font-weight: 500;
            }
            #content-container button{
            border: none;
            outline: none;
            color: #FFF;
            background-color: #fd6843e5;
            padding: 16px 0px;
            border-radius: 40px;
            font-size: 16px;
            width: 160px;
            margin-top: 30px;
            cursor: pointer;
            }
            #content-container button:hover{
            opacity: 0.9;
            }

            footer {
                width:100vw;
                position:fixed;
                bottom:0px
              }
              footer div {
                background-color:#fd6843e5;
                margin: -5px 0px 0px 0px;
                padding:0px;
                color: #fff;
                text-align:center;
              }
              svg {
                width:100%;
              }
              
              
              .wave {
                animation: wave 10s linear;
                animation-iteration-count:infinite;
                fill: #fd6843e5;
              }
              
              
              .gooeff {
                  filter: url(#goo);
              }
              #wave2 {
                animation-duration:10s;
                animation-direction: reverse;
                opacity: .6
              }
              #wave3 {
                animation-duration: 10s;
                opacity:.3;
              }
              
              @keyframes wave {
                to {transform: translateX(-100%);}
              }
              #new-img {
                position: absolute;
                top: 0px;
                left: 185px;
              }

