<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Articles</title>
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='Articles.css')}}">
<body>

 <header>
 	<h1>Articles on mental health</h1>
 </header>
 <div class="row">
 	<div class="left-column">
 	  <div class="card">
 		<h2>How To Be more Empathetic</h2>
 		<!-- <h5>Title description, Dec 7, 2017</h5> -->
 		<img src="{{url_for('static',filename='empathy-removebg-preview.png')}}" alt="blog "/>
 		<!-- <p>Some text..</p> -->
 		<p>Empathy, or our ability to understand each other’s feelings and perspectives and show compassion toward them, is one of the building blocks of healthy relationships. When we are able to stand in another person’s shoes and see life from their point of view — a situation, a belief, a struggle — we are then better equipped to connect, without reactivity, on a human level.</p>
 	  </div>
 	  <div class="card1">
 		<h2>How to be more Grateful</h2>
 		<!-- <h5>Title description, Dec 7, 2017</h5> -->
 		<img src="{{url_for('static',filename='gratitude-removebg-preview.png')}}">
 		<!-- <p>Some text..</p> -->
 		<p>We all know the feeling of gratitude — a state of appreciation that makes us more present, open, and connected with the people around us. It is a heartwarming emotion that has been widely researched and lauded for its benefits, and yet it is a feeling that many of us don’t seem to experience as often as we would like.</p>
 	  </div>
       <div class="card2">
 		<h2>How to Relax</h2>
 		<!-- <h5>Title description, Dec 7, 2017</h5> -->
 		<img src="{{url_for('static',filename='relaxation.svg')}}">
 		<!-- <p>Some text..</p> -->
 		<p>Has someone ever told you to “just relax” when you’re in the middle of a stressful situation, and you thought to yourself, “Well, that’s easy for you to say!”

            Relaxation actually isn’t easy (and doesn’t come naturally) for many of us. It’s hard not to get caught up in worry during our fast-paced, time-crunched days, whether from work deadlines, financial worries, or feeling like we don’t have enough quality time for family and friends — or for ourselves and our favorite activities.</p>
 	  </div>
 	</div>

 	<div class="right-column">
 		<!-- <div class="card">
 			 <h2>About Me</h2>
 			 <img src="img/about-me.jpg" alt="me"/>
 			 <p>Some text about me in culpa qui officia deserunt mollit anim..</p>
 		 </div> -->
 		<div class="card">
 			 <h3>Some Major Articles on mental health</h3>
 			 <img src="{{url_for('static',filename='article.jpg')}}" alt="popular"/>
 			 <img src="{{url_for('static',filename='article1.jpg')}}" alt="popular"/>
 			 <img src="{{url_for('static',filename='article2.jpg')}}" alt="popular"/> 
 		</div>
 		<div class="card">
 			<h3>Links to  Famous articles</h3>
 			<!-- <p>Some Text...</p> -->
             <a href="https://www.headspace.com/articles/how-to-be-more-empathetic">Article on empathy</a></br>
             <a href="https://www.headspace.com/articles/how-to-be-more-grateful">Article on gratitude</a><br>
             <a href="https://www.headspace.com/articles/how-to-be-more-present">Article on being present </a></br>
             <a href="https://www.headspace.com/articles/when-we-dislike-somebody">Article on acceptance</a></br>
             <a href="https://www.headspace.com/meditation/how-to-relax">Article on how to Relax</a><br>
 		</div>
 	</div>
 </div>
 <iframe width="560" height="315" src="https://www.youtube.com/embed/woio0Fayza4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
 <iframe width="560" height="315"  src="https://www.youtube.com/embed/EUA5siagejA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
 <footer>
	<h2>watch the videos</h2>
</footer>

</body>
</head>
