<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Workout</title>
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='exercise.css')}}">
<body>

 <header>
 	<h1>Workout</h1>
 </header>
 <div class="row">
 	<div class="left-column">
 	  <div class="card">
 		<h2>Pilates</h2>
 		<!-- <h5>Title description, Dec 7, 2017</h5> -->
 		<img src="{{url_for('static',filename='pilates.png')}}" alt="blog "/>
 		<!-- <p>Some text..</p> -->
 		<p>Pilates is a method of exercise that consists of low-impact flexibility and muscular strength and endurance movements. Pilates emphasizes proper postural alignment, core strength and muscle balance.</p>
         <iframe width="560" height="315" src="https://www.youtube.com/embed/510FdqCvZ-k" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
 	  <div class="card1">
 		<h2>Stationary Bicycle</h2>
 		<!-- <h5>Title description, Dec 7, 2017</h5> -->
 		<img src="{{url_for('static',filename='undraw_indoor_bike_pwa4-removebg-preview.png')}}">
 		<!-- <p>Some text..</p> -->
 		<p>A stationary bicycle is usually a special-purpose exercise machine resembling a bicycle without wheels. It is also possible to adapt an ordinary bicycle for stationary exercise by placing it on bicycle rollers or a trainer. Rollers and trainers are often used by racing cyclists to warm up before racing, or to train on their own machines indoors.</p>
         <!-- <iframe width="560" height="315"  src="https://www.youtube.com/embed/EUA5siagejA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
         <iframe width="560" height="315" src="https://www.youtube.com/embed/qzymPet0Fl4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
       <div class="card2">
 		<h2>Fitness Ball</h2>
 		<!-- <h5>Title description, Dec 7, 2017</h5> -->
 		<img src="{{url_for('static',filename='undraw_Stability_ball_b4ia-removebg-preview.png')}}">
 		<!-- <p>Some text..</p> -->
 		<p>An exercise ball, also known as a yoga ball, is a ball constructed of soft elastic and filled with air. The air pressure is changed by removing a valve stem and either filling with air or letting the ball deflate. It is most often used in physical therapy, athletic training and exercise. It can also be used for weight training.</p>
         <!-- <iframe width="560" height="315"  src="https://www.youtube.com/embed/EUA5siagejA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
         <iframe width="560" height="315" src="https://www.youtube.com/embed/s7LwfKnjxto" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
		<div class="card2">
            <h2>Cardio</h2>
            <!-- <h5>Title description, Dec 7, 2017</h5> -->
            <img src="{{url_for('static',filename='undraw_healthy_habit_bh5w-removebg-preview.png')}}">
            <!-- <p>Some text..</p> -->
            <p>Cardio exercise, which is sometimes referred to as aerobic exercise, is any rhythmic activity that raises your heart rate into your target heart rate zone. This is the zone where you burn the most fat and calories. Some of the most common examples of cardio include walking, cycling, and swimming.</p>
            <!-- <iframe width="560" height="315"  src="https://www.youtube.com/embed/EUA5siagejA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
            <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/s7LwfKnjxto" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
            <iframe width="560" height="315" src="https://www.youtube.com/embed/xqVBoyKXbsA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
 	</div>

 	<div class="right-column">
 		<!-- <div class="card">
 			 <h2>About Me</h2>
 			 <img src="img/about-me.jpg" alt="me"/>
 			 <p>Some text about me in culpa qui officia deserunt mollit anim..</p>
 		 </div> -->
 		<div class="card">
 			 <h3>Some Workout Refferences</h3>
 			 <img src="{{url_for('static',filename='surya.png')}}" alt="popular"/>
 			 <img src="{{url_for('static',filename='surya1.jpeg')}}" alt="popular"/>
 			 <img src="{{url_for('static',filename='surya2.jpeg')}}" alt="popular"/> 
 		</div>
 		<div class="card">
 			<h3>Articles</h3>
 			<!-- <p>Some Text...</p> -->
			 <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3193657/">Suryanamaskaras</a><br>
             <a href="https://www.mindful.org/how-to-meditate/">Meditation</a><br>
             <a href="https://www.nytimes.com/guides/well/beginner-yoga">Yoga </a><br>
             <a href="https://www.betterhealth.vic.gov.au/health/healthyliving/running-and-jogging-health-benefits">Jogging</a><br>
             <a href="https://www.healthline.com/health/benefits-of-swimming">Swimming</a><br>
 		</div>
 	</div>
 </div>
 <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/woio0Fayza4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
 
 <footer>
	<h2>It's a slow process but quitting wont speed it up!</h2>
</footer>

</body>
</head>
