<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Meditation</title>
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='meditation.css')}}">
<body>

 <header>
 	<h1>Meditation</h1>
 </header>
 <div class="row">
 	<div class="left-column">
 	  <div class="card">
 		<h2>Guided Meditation</h2>
 		<!-- <h5>Title description, Dec 7, 2017</h5> -->
 		<img src="{{url_for('static',filename='meditation-removebg-preview.png')}}" alt="blog "/>
 		<!-- <p>Some text..</p> -->
 		<p>Guided meditation describes a type of meditation led by a teacher, in person or via audio or video.

            When starting out, having an expert lead you through the basic steps of your meditation practice is recommended. Whatever skill we are learning in life, having an experienced teacher we can trust and relate to is important. But when it comes to exploring the intricacies and subtleties of the mind, it is not just important but essential.</p>
 	  </div>
 	  <div class="card1">
 		<h2>Benefits of Meditation</h2>
 		<!-- <h5>Title description, Dec 7, 2017</h5> -->
 		<img src="{{url_for('static',filename='meditation1-removebg-preview.png')}}">
 		<!-- <p>Some text..</p> -->
 		<p>When we sit to meditate, we are looking after ourselves in ways that might not at first seem obvious. The benefits of meditation are numerous and varied, and supported by science. Many people start meditating to manage stress, reduce anxiety, and to cultivate peace of mind. But there are thousands of studies documenting other less-known mindfulness meditation benefits, which can have a positive impact on mental, physical, and emotional health.</p>
 	  </div>
       <div class="card2">
 		<h2>How to Relax</h2>
 		<!-- <h5>Title description, Dec 7, 2017</h5> -->
 		<img src="{{url_for('static',filename='meditation2-removebg-preview.png')}}">
 		<!-- <p>Some text..</p> -->
 		<p>Experienced meditators agree: a daily meditation practice can have significant benefits for mental and physical health. But one thing they probably won’t agree on? The most effective types of meditation. That’s simply because it’s different for everyone. After all, there are literally hundreds of meditation techniques encompassing practices from different traditions, cultures, spiritual disciplines, and religions. </p>
 	  </div>
 	</div>

 	<div class="right-column">
 		<!-- <div class="card">
 			 <h2>About Me</h2>
 			 <img src="img/about-me.jpg" alt="me"/>
 			 <p>Some text about me in culpa qui officia deserunt mollit anim..</p>
 		 </div> -->
 		<div class="card">
 			 <h3>Some Major Articles on mental health</h3>
 			 <img src="{{url_for('static',filename='meditationarticle.jpg')}}" alt="popular"/>
 			 <img src="{{url_for('static',filename='meditationarticle1.png')}}" alt="popular"/>
 			 <img src="{{url_for('static',filename='meditationarticle2.jpg')}}" alt="popular"/> 
 		</div>
 		<div class="card">
 			<h3>Links to  Famous articles</h3>
 			<!-- <p>Some Text...</p> -->
             <a href="https://www.headspace.com/meditation/techniques">meditation techniques</a></br>
             <a href="https://www.headspace.com/meditation/meditation-for-beginners">meditation-for-beginners</a><br>
             <a href="https://www.headspace.com/meditation/guided-meditation">guided-meditation </a></br>
             <a href="https://www.headspace.com/articles/when-we-dislike-somebody">Article on acceptance</a></br>
           
 		</div>
 	</div>
 </div>
 <iframe width="560" height="315" src="https://www.youtube.com/embed/cZJAsW_5SRA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
 <iframe width="560" height="315" src="https://www.youtube.com/embed/QHkXvPq2pQE" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
 <footer>
	<h2>watch the videos</h2>
</footer>

</body>
</head>
