<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Mindfulness</title>
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='mindfullness.css')}}">
<body>

 <header>
 	<h1>Mindfulness</h1>
 </header>
 <div class="row">
 	<div class="left-column">
 	  <div class="card">
 		<h2>What is mindfulness?</h2>
 		<!-- <h5>Title description, Dec 7, 2017</h5> -->
 		<img src="{{url_for('static',filename='mind1rbg.png')}}" alt="blog "/>
 		<!-- <p>Some text..</p> -->
 		<p>You may have heard that mindfulness — the ability to be fully present in the moment — can have numerous benefits, everything from decreased stress and sadness to increased levels focus and happiness, according to general mindfulness research. But what exactly is mindfulness? And, how can you recognize it and reap its many benefits? Mindfulness meditation practice is one way to truly experience the current moment and integrate that awareness into your everyday life.</p>
 	  </div>
 	  <div class="card1">
 		<h2>What is mindful parenting?</h2>
 		<!-- <h5>Title description, Dec 7, 2017</h5> -->
 		<img src="{{url_for('static',filename='mind2rbg.png')}}">
 		<!-- <p>Some text..</p> -->
 		<p>Multitasking is considered a skill that many people pride themselves on, especially when it comes to parenting — one of the hardest, most challenging roles in life. The problem is that when we multitask, rather than learning to do lots of things at once really well, we simply learn to do lots of things at once not nearly as well as we could. Bouncing back and forth between tasks when caring for children can be distracting and stressful, which is why doing a lot of things at the same time is not really in the spirit of mindfulness. We can still get things done and be efficient; we’d just approach things differently… and this is where mindful parenting comes in.</p>
 	  </div>
       <div class="card2">
 		<h2>What is mindful cooking?</h2>
 		<!-- <h5>Title description, Dec 7, 2017</h5> -->
 		<img src="{{url_for('static',filename='mind3rbg.png')}}">
 		<!-- <p>Some text..</p> -->
 		<p>Cooking. For many, it can sound like a chore, especially for parents who are always rustling up some dish for breakfast, lunch, and dinner. But even if you love cooking, where is your mind while preparing the ingredients? Or when stirring the soup or sauce?

            Cooking doesn’t have to be a rushed experience, or something we do on auto-pilot, distracted by thoughts, feelings, and inner-dialogue. In fact, of all the tasks we do in our daily lives, cooking offers a wonderful opportunity for us to train the mind to be present.</p>
 	  </div>
 	</div>

 	<div class="right-column">
 		<!-- <div class="card">
 			 <h2>About Me</h2>
 			 <img src="img/about-me.jpg" alt="me"/>
 			 <p>Some text about me in culpa qui officia deserunt mollit anim..</p>
 		 </div> -->
 		<div class="card">
 			 <h3>Some Major Articles on mindfulness</h3>
 			 <img src="{{url_for('static',filename='minda.png')}}" /><br>
 			 <img src="{{url_for('static',filename='minda2.jpg')}}" /><br>
 	
 		</div>
 		<div class="card">
 			<h3>Links to  Famous articles</h3>
 			<!-- <p>Some Text...</p> -->
             <a href="https://www.headspace.com/mindfulness/mindfulness-101">What is mindfulness?</a></br>
             <a href="https://www.headspace.com/articles/habit-loop">How long does it take to form a habit?</a><br>
             <a href="https://www.headspace.com/mindfulness/mindful-parenting">What is mindful parenting? </a></br>
             <a href="https://www.headspace.com/mindfulness/mindful-cooking">What is mindful cooking?</a></br>
             <a href="https://www.headspace.com/articles/how-to-improve-self-esteem">How to Improve Self-Esteem</a><br>
 		</div>
 	</div>
 </div>
 <iframe width="560" height="315" src="https://www.youtube.com/embed/9gi2ER4pSaU" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
 <iframe width="560" height="315" src="https://www.youtube.com/embed/IeblJdB2-Vo" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> 
 <footer>
	<h2>Mindfulness is a way of befriending ourselves and our experience.</h2>
</footer>

</body>
</head>