<html>
    <head>
        <link rel="stylesheet" href="{{url_for('static',filename='underimg.css')}}">
    </head>
<body>
  
<ul>
    <li><img src="https://images.unsplash.com/photo-1579294087174-1781d54b89f6?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80" width="250">
      <p>Eat dryfruits</p></li>
    <li><img src="https://images.unsplash.com/photo-1587185717365-a1b43fafb42b?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=375&q=80" width="250">
      <p>Drink milk</p></li>
    <li><img src="https://images.unsplash.com/photo-1504712598893-24159a89200e?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=751&q=80" width="250" height="250"/>
      <p>Have cereal</p></li>
    <li><img src="https://images.unsplash.com/photo-1552767059-ce182ead6c1b?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80" width="250" height="300"/>
      <p>Add cheese</p></li>
      <li><img src="https://images.unsplash.com/photo-1535473895227-bdecb20fb157?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80" width="250"/>
        <p>Have protein foods</p></li>
      
  </ul>
  <div class="light"></div>
  <iframe src="https://docs.google.com/spreadsheets/d/e/2PACX-1vSFqTubHmaC1gquacfO99GX4KI6NLFNW5hMdXnPb6SS49PqOw46pOQMNKZPW2ULuWcy8wue06LotpRN/pubhtml?widget=true&amp;headers=false" style="height: 800px;width: 1500px; margin-top: 530px;" title="iframe"></iframe>
  <!-- <h4>Download Your Diet Plan</h4> -->
  <a href="NORMAL WEIGHT.xlsx - ..pdf" download>
    <img src="{{url_for('static',filename='unnamed.png')}}" alt="W3Schools" align="right" width="280" height="80" >
  </a>
 
</body>
</html>