<html>
    <head>
<!-- Chatra {literal} -->
<script>
    (function(d, w, c) {
        w.ChatraID = 'a4fT6BTPjTqZ4scar';
        var s = d.createElement('script');
        w[c] = w[c] || function() {
            (w[c].q = w[c].q || []).push(arguments);
        };
        s.async = true;
        s.src = 'https://call.chatra.io/chatra.js';
        if (d.head) d.head.appendChild(s);
    })(document, window, 'Chatra');
</script>
<!-- /Chatra {/literal} -->
<link rel="stylesheet" href="{{ url_for('static',filename='nutrition_chat.css') }}" />
</head>
<body>
    <img src="{{url_for('static',filename='nutrition_chatting.png')}}" alt="image" style="float:right" width="690px" height="650px">
    <iframe src="https://docs.google.com/document/d/e/2PACX-1vTTFb4m9o5S6_CPFnGJpgKs3pYHdWTa6vt9BTPUSUhqQEAP0yJu-7txyOoZBTutn_awe7ylRmKB5J_u/pub?embedded=true" height="1500" width="800"></iframe>
</body>
</html>
