<html>
    <head>
        <link rel="stylesheet" href="{{url_for('static',filename='underimg.css')}}">
    </head>

<body>
  <ul>
    <li><img src="https://images.unsplash.com/photo-1551460188-2f48af84543c?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80" width="200">
      <p>Eat avocados</p></li>
    <li><img src="https://images.unsplash.com/photo-1605024344839-e6e41aea6b23?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=667&q=80" width="300">
      <p>Have nuts</p></li>
    <li><img src="https://images.unsplash.com/photo-1556471013-0001958d2f12?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=523&q=80" width="300"/>
      <p>Eat whole grains</p></li>
    <li><img src="https://images.unsplash.com/photo-1467453678174-768ec283a940?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=728&q=80" width="300"/>
      <p>Have fruits</p></li>
      <li><img src="https://images.unsplash.com/photo-1612182062572-e29c5dfb5eb4?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=375&q=80" width="200"/>
        <p>Consume yogurt</p></li>
  </ul> 
  <div class="light"></div>
  <iframe src="https://docs.google.com/spreadsheets/d/e/2PACX-1vSJZo2drj4gZy5bPWUmCck-PjTjcF0iOJe1kCN7o72Zla-DEJZZXPVVz6nIZNGyV_0ndQzGwRQZB_w9/pubhtml?widget=true&amp;headers=false"style="height: 800px;width: 1500px; margin-top: 500px;" title="iframe"></iframe> 
  <a href="obesity - ..pdf" download>
    <img src="{{url_for('static',filename='unnamed.png')}}" alt="W3Schools" align="right" width="280" height="80" >
  </a>
</body>
</html>

