<html>
    <head>
        <link rel="stylesheet" href="{{url_for('static',filename='underimg.css')}}">
    </head>

<body>
  <ul>
    <li><img src="https://images.unsplash.com/photo-1585507252242-11fe632c26e8?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=800" width="200" height="200">
      <p>Eat whole eggs</p></li>
    <li><img src="https://images.unsplash.com/photo-1597216148867-c934590e6ea3?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=667&q=80" width="300">
      <p>Consume leafy greens</p></li>
    <li><img src="https://images.unsplash.com/photo-1508313880080-c4bef0730395?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=667&q=80" width="300"/>
      <p>Have boiled potatoes</p></li>
    <li><img src="https://images.unsplash.com/photo-1564894809611-1742fc40ed80?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=751&q=80" width="300"/>
      <p>Eat beans and legumes</p></li>
      <li><img src="https://images.unsplash.com/photo-1607528971899-2e89e6c0ec69?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=667&q=80" width="200"/>
        <p>Drink soups</p></li>
      
  </ul>
  <div class="light"></div>
  <iframe src="https://docs.google.com/spreadsheets/d/e/2PACX-1vSAArMLinq4sERmv_GN36YRl2DGwm6FYFeCSP2mvUMv9lMn2vZ-Qxpat0jaerGFt_Fr57tuvPQ5LHt-/pubhtml?widget=true&amp;headers=false"style="height: 800px;width: 1500px; margin-top: 400px;" title="iframe"></iframe>
  <a href="OVERWEIGHT - ..pdf" download>
    <img src="{{url_for('static',filename='unnamed.png')}}" alt="W3Schools" align="right" width="280" height="80" >
  </a>
</body>
</html>