<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Sleep hacks</title>
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='sleep.css')}}">
<body>

 <header>
 	<h1>Sleep hacks</h1>
 </header>
 <div class="row">
 	<div class="left-column">
 	  <div class="card">
 		<h2>How to fall back asleep</h2>
 		<!-- <h5>Title description, Dec 7, 2017</h5> -->
 		<img src="{{url_for('static',filename='sleep3rbg.png')}}" width="50px" alt="blog "/>
 		<!-- <p>Some text..</p> -->
 		<p>Waking up in the middle of the night (or in the middle of a sleep cycle) and being unable to fall back asleep is a common sleep disorder called sleep maintenance insomnia. If you’re experiencing long stretches of any kind of insomnia, you’ll first want to schedule a trip to the doctor to make sure there are no underlying medical issues behind those sleepless nights. But assuming you get the all-clear from your doc, your sleeplessness may be caused by worry, stress, and/or a few poor sleep hygiene habits that you may wish to improve</p>
 	  </div>
 	  <div class="card1">
 		<h2>Meditation for sleep</h2>
 		<!-- <h5>Title description, Dec 7, 2017</h5> -->
 		<img src="{{url_for('static',filename='sleep2rbg.png')}}">
 		<!-- <p>Some text..</p> -->
 		<p>Healthy sleep has more to do with quality of rest than quantity of hours. Sleep meditations help create the inner conditions needed for a truly restful night. Because when we settle the mind, we rest the body—and that restfulness is what makes it easier to wind down and drift off.</p>
 	  </div>
       <div class="card2">
 		<h2>Sleep hacks</h2>
 		<!-- <h5>Title description, Dec 7, 2017</h5> -->
 		<img src="{{url_for('static',filename='sleep1rbg.png')}}">
 		<!-- <p>Some text..</p> -->
 		<p>“How can I get a good night’s sleep?” seems such a simple and basic request, but one that’s far too frequently thwarted by our self-sabotaging thinking or habits.There is no “one size fits all” solution. Some of us may have chronic pain, or be toggling between day and night shifts at work, or worrying about finances, or even adjusting to a new life with a newborn. Also, if there is a worry that an underlying medical condition might be affecting your sleep cycle, then please consult a doctor.</p>
 	  </div>
 	</div>

 	<div class="right-column">
 		<!-- <div class="card">
 			 <h2>About Me</h2>
 			 <img src="img/about-me.jpg" alt="me"/>
 			 <p>Some text about me in culpa qui officia deserunt mollit anim..</p>
 		 </div> -->
 		<div class="card">
 			 <h3>Some Major Articles on mental health</h3>
 			 <img src="{{url_for('static',filename='sleeparticle1.jpg')}}" /><br>
 			 <img src="{{url_for('static',filename='sleeparticle2.jpg')}}" /><br>
 			 <img src="{{url_for('static',filename='sleeparticle3.jpg')}}" /> 
 		</div>
 		<div class="card">
 			<h3>Links to  Famous articles</h3>
 			<!-- <p>Some Text...</p> -->
             <a href="https://www.headspace.com/sleep/fall-back-asleep">How to fall back asleep</a></br>
             <a href="https://www.headspace.com/sleep/how-to-sleep-better">How to sleep better</a><br>
             <a href="https://www.headspace.com/meditation/sleep">Meditation for sleep </a></br>
             <a href="https://www.headspace.com/sleep/how-to-wake-up-for-non-morning-people"> How to Wake Up for Non-Morning People</a></br>
             <a href="https://www.headspace.com/sleep/sleep-hacks">Sleep Hacks</a><br>
 		</div>
 	</div>
 </div>
 <iframe width="560" height="315" src="https://www.youtube.com/embed/1ZYbU82GVz4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> 
 <iframe width="560" height="315" src="https://www.youtube.com/embed/o8GrqUSdzi0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
 <footer>
	<h2>Listen to these peaceful and serene music.</h2>
</footer>

</body>
</head>