<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Stress</title>
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='stress.css')}}">
<body>

 <header>
 	<h1>Stress Management</h1>
 </header>
 <div class="row">
 	<div class="left-column">
 	  <div class="card">
 		<h2>How to reduce anxiety</h2>
 		<!-- <h5>Title description, Dec 7, 2017</h5> -->
 		<img src="{{url_for('static',filename='keepcalmrbg.png')}}" alt="blog "/>
 		<!-- <p>Some text..</p> -->
 		<p>Feelings of anxiety — uneasiness, dread, fear, or an inexplicable sense of impending doom — can be deeply unpleasant. Whether anxiety presents itself as an upset stomach, heart palpitations, a nervous tension that colors everything, or even a panic attack, the discomfort and distress can be extremely challenging.</p>
 	  </div>
 	  <div class="card1">
 		<h2>Meditation for anxiety</h2>
 		<!-- <h5>Title description, Dec 7, 2017</h5> -->
 		<img src="{{url_for('static',filename='meditaterbg.png')}}">
 		<!-- <p>Some text..</p> -->
 		<p>Our adrenal glands start flaring whenever we’re in a dangerous situation or potential conflict, activating the “fight or flight” mechanism, or when we’re a bag of nerves ahead of delivering a speech, a must-win sports game, or walking up the aisle, for example. That’s anxiousness.Stress can, of course, induce anxiety, and there is an overlap between the two in terms of the physiological reactions. Stress is a heightened emotional state that dissipates once a stressful situation is over whereas GAD is a diagnosable condition that tends to persist for long periods.</p>
 	  </div>
       <div class="card2">
 		<h2>How to relieve stress</h2>
 		<!-- <h5>Title description, Dec 7, 2017</h5> -->
 		<img src="{{url_for('static',filename='medrbg.png')}}">
 		<!-- <p>Some text..</p> -->
 		<p>Sometimes life is just plain stressful. Maybe you’re on a tight deadline at work or you or someone in your family is having health problems — or maybe both are happening at the same time and it feels like you’re juggling 100 things at once. No matter the circumstances, you’re likely wondering how to relieve stress so you can lead a more peaceful and healthy life.
            While it’s not always possible to control everything that is happening to us or around us, it is possible to change the way we relate to those things that are happening. Softening the way we perceive stress and relating to it in a more accepting way is the first trick for how to deal with stressful feelings.</p>
 	  </div>
 	</div>

 	<div class="right-column">
 		<!-- <div class="card">
 			 <h2>About Me</h2>
 			 <img src="img/about-me.jpg" alt="me"/>
 			 <p>Some text about me in culpa qui officia deserunt mollit anim..</p>
 		 </div> -->
 		<div class="card">
 			 <h3>Some Major Articles on mental health</h3>
 			 <img src="{{url_for('static',filename='stress1.jpg')}}" />
 			 <img src="{{url_for('static',filename='stress2.jpg')}}" />
 			 <img src="{{url_for('static',filename='stress3.jpg')}}" /> 
 		</div>
 		<div class="card">
 			<h3>Links to  Famous articles</h3>
 			<!-- <p>Some Text...</p> -->
             <a href="https://www.headspace.com/articles/how-to-reduce-anxiety">Article on reducing anxiety</a></br>
             <a href="https://www.headspace.com/meditation/anxiety">Article on meditation for anxiety</a><br>
             <a href="https://www.headspace.com/articles/how-to-relieve-stress">Article on relieving stress </a></br>
             <a href="https://www.headspace.com/meditation/stress">Article on meditation for stress</a></br>
             <a href="https://www.headspace.com/articles/how-to-stop-worrying">Article on how to not worry</a><br>
 		</div>
 	</div>
 </div>
 <iframe width="560" height="315" src="https://www.youtube.com/embed/YhpU8VME8Gw" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
 <iframe width="560" height="315" src="https://www.youtube.com/embed/vpO_3ZegQL4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
 <footer>
	<h2>Watch the videos</h2>
</footer>

</body>
</head>