
<html>
    <head>
        <link rel="stylesheet" href="{{url_for('static',filename='underimg.css')}}">
    </head>

<body>
<ul>
    <li><img src="https://images.unsplash.com/photo-1550583724-b2692b85b150?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80" width="200">
      <p>drink milk</p></li>
    <li><img src="https://images.unsplash.com/photo-1464195157370-5b596406ff80?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1049&q=80" width="300">
      <p>eat cereal bars</p></li>
    <li><img src="https://images.unsplash.com/photo-1511381939415-e44015466834?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2038&q=80" width="300"/>
      <p>have dark chocolate</p></li>
    <li><img src="https://images.unsplash.com/photo-1589985270826-4b7bb135bc9d?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80" width="300"/>
      <p>add butter to food</p></li>
      <li><img src="https://images.unsplash.com/photo-1610328466269-1f36faad83c1?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=80" width="200"/>
        <p>eat egg everday</p></li>
      
  </ul>
  <div class="light"></div>
  <iframe src="https://docs.google.com/spreadsheets/d/e/2PACX-1vRdeVu99tCHWRoilphBirelPvmd8hnh_MvyMDXfVNd37dJAkCnVrMZ0OEA3wk79nhRQHWzL7UaSW-cn/pubhtml?widget=true&amp;headers=false" style="height: 800px;width: 1500px; margin-top: 500px;" title="iframe"></iframe>
  <a href="under weight - ..pdf" download>
    <img src="{{url_for('static',filename='unnamed.png')}}" alt="W3Schools" align="right" width="280" height="80" >
  </a>
</body>
</html>